* {
	margin: 0px;
	padding: 0px;
	
	}
	h5{
		margin-top: 2rem;
	}
	body {
	background: #ffffff;

	}
	
	nav {
		
		@font-face {
			font-family: 'B yekan';
			src:  url('C:/codep/bazaronlinehamedan/bazar/src/assets/font/B Yekan.ttf') format('tff');
		  }
	line-height: 1.5;
	margin: 30px auto; /*for display only*/
	width:200px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	}
	
	.menu-item {
		
	background: #fdfdfd;
	width:250px;
	}

	.menu-item h4 {
	
		border-radius: 10px;
		border-bottom: 1px solid rgba(0,0,0,0.3);
	/*	border-top: 1px solid rgba(255,255,255,0.2);*/
color: #5076a3;
font-size:13px;;
font-weight: 500;
padding: 7px 12px;
/*Gradient*/
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top, #7796b7 0%,#1e344c 44%,#0c151e 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7796b7 0%,#1e344c 44%,#0c151e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7796b7 0%,#1e344c 44%,#0c151e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7796b7 0%,#1e344c 44%,#0c151e 100%); /* IE10+ */
background: linear-gradient(top, #7796b7 0%,#1e344c 44%,#0c151e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

		.menu-item h4 a {
			
			padding-left: 10px;
			color: white;
			display: block;
			text-decoration: none;
			width: 200px;
			}
			.menu-item h4:hover {
				
				background: #cc002c; /* Old browsers */
				background: -moz-linear-gradient(top,  #8ad5c1 0%,#2a496b 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc002c), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #8ad5c1 0%,#2a496b 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #8ad5c1 0%,#2a496b 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #8ad5c1 0%,#2a496b 100%); /* IE10+ */
				background: linear-gradient(top,  #8ad5c1 0%,#2a496b 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc002c', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
				}

				.alpha p {
					font-size: 13px;
					padding: 8px 12px;
					color: #aaa;
					}
					.menu-item ul {
						background: #5076a3;
						font-size: 13px;
						line-height: 30px;
						list-style-type: none;
						overflow: hidden;
						padding: 0px;
						}
						
						.menu-item ul a {
							
							font-size: 14px;
						margin-left: 20px;
						text-decoration: none;
						color: #0a3f74;
						display: block;
						width: 200px;
						}
						
						/*li Styles*/
						.menu-item li {
						border-bottom: 1px solid #5076a3;
						}
						
						.menu-item li:hover {
						
						background: rgb(203, 212, 243);
						}
						.menu-item ul {
						
							background: #fff;
							font-size: 13px;
							line-height: 60px;
							height: 0px; /*Collapses the menu*/
							list-style-type: none;
							overflow: hidden;
							padding: 0px;
							}

							.menu-item ul {
								background: #fff;
								font-size: 13px;
								line-height: 30px;
								height: 0px;
								list-style-type: none;
								overflow: hidden;
								padding: 0px;
								/*Animation*/ -webkit-transition: height 2s ease; -moz-transition: height 1s ease; -o-transition: height 1s ease; -ms-transition: height 1s ease; transition: height 1s ease; }

								.menu-item:hover ul {
									height:auto;
									
									}

								