<h5>:منوها</h5>
<nav>
  <!--  <div class="menu-item alpha">
      <h4><a href="#">Home</a></h4>
      <p>Lorem ipsum dolor sit...</p>
    </div>
    -->
      
    <div class="menu-item">
      <h4><a href="#">رستوران</a></h4>
      <ul id="rest">
        <li><a href="#">کافی شاپ</a></li>
        <li><a href="#">فست فود</a></li>
        <li><a href="#">سفره خانه </a></li>
        <li><a href="#">رستوران</a></li>
      </ul>
    </div>
    <div class="menu-item">
      <h4><a href="#">محصولات غذایی</a></h4>
      <ul>
        <li><a href="#">قنادی</a></li>
        <li><a href="#">آبمیوه بستنی</a></li>
        <li><a href="#">خشکبار و آجیل  </a></li>
        <li><a href="#"> هایپرمارکت </a></li>
        <li><a href="#">محصولات غذایی </a></li>
      </ul>
    </div>
      
    <div class="menu-item">
      <h4><a href="#">نشریات </a></h4>
      <ul>
        <li><a href="#">مجلات</a></li>
        <li><a href="#">کتاب</a></li>
        <li><a href="#">روزنامه </a></li>
      </ul>
    </div>
      
    <div class="menu-item">
      <h4><a href="#">پزشکان</a></h4>
      <ul>
          <li><a href="#">جراح و دندان پزشک </a></li>
        <li><a href="#">فوق تخصص جراحی پلاستیک</a></li>
        <li><a href="#">جراحی زیبایی و لیپوماتیک </a></li>
        <li><a href="#">جراح بینی </a></li>
        <li><a href="#">متخصص جراحی عمومی </a></li>
        <li><a href="#">متخصص زنان زایمان </a></li>
        <li><a href="#">پزشکان پوست مو </a></li>
        <li><a href="#">متخصص تغذیه ورژیم درمانی  </a></li>
        <li><a href="#"> متخصص اعصاب روان</a></li>
        <li><a href="#">متخصص کودکان</a></li>
        <li><a href="#">متخصص ارتوپدی </a></li>
        <li><a href="#">متخصص مغز اعصاب</a></li>
        <li><a href="#"> جراحی فک صورت </a></li>
        <li><a href="#">متخصص گوش،حلق و بینی</a></li>
        <li><a href="#">منخصص کلیه و مجاری ادراری</a></li>
        <li><a href="#">متخصص چشم</a></li>
        <li><a href="#">فوق تخصص غدد،رشد و متابولیسم </a></li>
        <li><a href="#">متخصص قلب عروق</a></li>
        <li><a href="#">فوق تخصص گوارش و کبد </a></li>
        <li><a href="#">متخصص داخلی</a></li>
      </ul>
    </div>
    <div class="menu-item">
        <h4><a href="#">خدمات پزشکی و درمانی</a></h4>
        <ul>
          <li><a href="#">بیمارستان</a></li>
          <li><a href="#">درمانگاه</a></li>
          <li><a href="#">آزمایشگاه</a></li>
          <li><a href="#"> فیزیوتراپی و توانبخشی</a></li>
          <li><a href="#"> آرمایشگاه</a></li>
          <li><a href="#"> مشاوره و روان درمانی</a></li>
          <li><a href="#">ترک اعتیاد </a></li>
          <li><a href="#">رایولوژی و سونوگرافی </a></li>
          <li><a href="#">داروخانه </a></li>
          <li><a href="#"> طب سنتی و عطاری</a></li>
          <li><a href="#">خانه سالمندان </a></li>
          <li><a href="#"> پرستاری</a></li>
          <li><a href="#">مامایی </a></li>
          <li><a href="#"> شنوایی سنجی</a></li>
          <li><a href="#"> بینایی سنجی</a></li>
          <li><a href="#"> کاردرمانی و گفتار درمانی</a></li>
          <li><a href="#">محصولات و کالاهای پرشکی </a></li>
          

          
        </ul>
      </div>
    <div class="menu-item">
      <h4><a href="#">مهندسی</a></h4>
      <ul>
          <li><a href="#">معماری </a></li>
          <li><a href="#"> عمران</a></li>
          <li><a href="#">برق</a></li>
          <li><a href="#"> الکترونیک</a></li>
          <li><a href="#"> الکتروتکنیک</a></li>
          
        </ul>
    </div>
    <div class="menu-item">
      <h4><a href="#">فرش</a></h4>
      <ul>
          <li><a href="#">فرش دستباف</a></li>
          <li><a href="#"> فرش ماشینی</a></li>
          <li><a href="#">گبه</a></li>
          <li><a href="#"> تابلو فرش </a></li>
          <li><a href="#"> تعمیر و ترمیم فرش</a></li>
          
        </ul>
    </div>
    <div class="menu-item">
        <h4><a href="#">سوغات و صنایع دستی</a></h4>
     
      </div>
    <div class="menu-item">
      <h4><a href="#">جواهرات و بدلیجات</a></h4>
      <ul>
          <li><a href="#">طلا و جواهر وسکه</a></li>
          <li><a href="#">نقره </a></li>
          <li><a href="#">زیور آلات و بدلیجات</a></li>
          
        </ul>
    </div>
    <div class="menu-item">
        <h4><a href="#">ساعت و عینک </a></h4>
        <ul>
            <li><a href="#">ساعت</a></li>
            <li><a href="#"> لنز و عینک های طبی</a></li>
            <li><a href="#">عینک افتابی</a></li>
          </ul>
      </div>
    <div class="menu-item">
      <h4><a href="#">خدمات تفریحی و سرگرمی </a></h4>
      <ul>
          <li><a href="#"></a></li>
          <li><a href="#"> </a></li>
          <li><a href="#"></a></li>
          <li><a href="#"> </a></li>
          <li><a href="#"> </a></li>
        </ul>
    </div>
    <div class="menu-item">
      <h4><a href="#">باشگاه ورزشی </a></h4>
      <ul>
          <li><a href="#"></a></li>
          <li><a href="#"> </a></li>
          <li><a href="#"></a></li>
          <li><a href="#"> </a></li>
          <li><a href="#"> </a></li>
        </ul>
    </div>
    <div class="menu-item">
        <h4><a href="#">فروشگاه لوازم ورزشی</a></h4>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"> </a></li>
            <li><a href="#"></a></li>
            <li><a href="#"> </a></li>
            <li><a href="#"> </a></li>
            
          </ul>
      </div>
    <div class="menu-item">
        <h4><a href="#">معماری و دکوراسیون </a></h4>
        <ul>
                    <li><a href="#">تزئینات داخلی</a></li>
                    <li><a href="#">خدمات ساختمان </a></li>
                    <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="menu-item">
        <h4><a href="#">آرایشی و بهداشتی</a></h4>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"> </a></li>
            <li><a href="#"></a></li>
            <li><a href="#"> </a></li>
            <li><a href="#"> </a></li>
            
          </ul>
      </div>
      <div class="menu-item">
          <h4><a href="#">گالری پوشاک</a></h4>
          <ul>
              <li><a href="#"></a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"></a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              
            </ul>
        </div>
        <div class="menu-item">
            <h4><a href="#">لوازم خانگی</a></h4>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"> </a></li>
                <li><a href="#"></a></li>
                <li><a href="#"> </a></li>
                <li><a href="#"> </a></li>
                
              </ul>
          </div>
          <div class="menu-item">
              <h4><a href="#">کامپیوتر و موبایل</a></h4>
              <ul>
                  <li><a href="#"></a></li>
                  <li><a href="#"> </a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"> </a></li>
                  <li><a href="#"> </a></li>
                  
                </ul>
            </div>
      <div class="menu-item">
          <h4><a href="#">اتلیه عکاسی</a></h4>
          <ul>
              <li><a href="#"></a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"></a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              
            </ul>
        </div>
        <div class="menu-item">
            <h4><a href="#">تشریفات و خدمات مجالس</a></h4>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"> </a></li>
                <li><a href="#"></a></li>
                <li><a href="#"> </a></li>
                <li><a href="#"> </a></li>
                
              </ul>
          </div>
          <div class="menu-item">
              <h4><a href="#">هنر و موسیقی</a></h4>
              <ul>
                  <li><a href="#"></a></li>
                  <li><a href="#"> </a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"> </a></li>
                  <li><a href="#"> </a></li>
                  
                </ul>
            </div>
            <div class="menu-item">
                <h4><a href="#">دامپزشکی</a></h4>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"> </a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"> </a></li>
                    <li><a href="#"> </a></li>
                    
                  </ul>
              </div>
              <div class="menu-item">
                  <h4><a href="#">موسسه فرهنگی هنری</a></h4>
                
                </div>
            <div class="menu-item">
                <h4><a href="#">تدریس خصوصی</a></h4>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"> </a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"> </a></li>
                    <li><a href="#"> </a></li>
                    
                  </ul>
              </div>
              <div class="menu-item">
                  <h4><a href="#">املاک</a></h4>
                  <ul>
                      <li><a href="#"></a></li>
                      <li><a href="#"> </a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"> </a></li>
                      <li><a href="#"> </a></li>
                      
                    </ul>
                </div>
                <div class="menu-item">
                    <h4><a href="#">خودرو</a></h4>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"> </a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"> </a></li>
                        <li><a href="#"> </a></li>
                        
                      </ul>
                  </div>
              <div class="menu-item">
                  <h4><a href="#">خدمات حقوقی و بیمه</a></h4>
                  <ul>
                      <li><a href="#"></a></li>
                      <li><a href="#"> </a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"> </a></li>
                      <li><a href="#"> </a></li>
                      
                    </ul>
                </div>
                <div class="menu-item">
                    <h4><a href="#">خدمات مالی و موسسات حسابداری</a></h4>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"> </a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"> </a></li>
                        <li><a href="#"> </a></li>
                        
                      </ul>
                  </div>
                <div class="menu-item">
                    <h4><a href="#">سایر خدمات</a></h4>
                    <ul>
                        <li><a href="#">فروشگاه اسباب بازی </a></li>
                        <li><a href="#">دفتر خدمات ارتباطی</a></li>
                        <li><a href="#">چاپ تبلیغات</a></li>
                        <li><a href="#">بانک</a></li>
                        <li><a href="#">سایر خدمات  </a></li>
                        
                      </ul>
                  </div>