<div class="header">
    <h5>پست های ویژه</h5>
</div>
<div class="body">
        <a href="#">
<div class="card">
    <div class="card-header">
        <img  src="assets/pic/whats.png "class="rounded" >
    </div>
    <div class="card-body"><h5>post1</h5></div>
</div>
</a>
<a href="#">
<div class="card" >
    <div class="card-header">
        <img  src="assets/pic/whats.png "class="rounded">
    </div>
    <div class="card-body"><h5>post1</h5></div>
</div>
</a>
<a href="#">
<div class="card" >
    <div class="card-header">
        <img  src="assets/pic/whats.png "class="rounded">
    </div>
    <div class="card-body"><h5>post1</h5></div>
</div>
</a>
<a href="#">
<div class="card" >
    <div class="card-header">
        <img  src="assets/pic/whats.png "class="rounded">
    </div>
    <div class="card-body"><h5>post1</h5></div>
</div>
</a>
<a href="#">
        <div class="card" >
            <div class="card-header">
                <img  src="assets/pic/whats.png "class="rounded">
            </div>
            <div class="card-body"><h5>post1</h5></div>
        </div>
        </a>
    <a href="#">
    <div class="card" >
    <div class="card-header">
    <img  src="assets/pic/whats.png "class="rounded">
    </div>
    <div class="card-body"><h5>post1</h5></div>
    </div>
    </a>
    <a href="#">
    <div class="card" >
    <div class="card-header">
        <img  src="assets/pic/whats.png "class="rounded">
    </div>
    <div class="card-body"><h5>post1</h5></div>
    </div>
    </a>
    <a href="#">
        <div class="card" >
            <div class="card-header">
                <img  src="assets/pic/whats.png "class="rounded">
            </div>
            <div class="card-body"><h5>post1</h5></div>
        </div>
        </a>
        <a href="#">
                <div class="card" >
                    <div class="card-header">
                        <img  src="assets/pic/whats.png "class="rounded">
                    </div>
                    <div class="card-body"><h5>post1</h5></div>
                </div>
                </a>
        <a href="#">
        <div class="card" >
            <div class="card-header">
                <img  src="assets/pic/whats.png "class="rounded">
            </div>
            <div class="card-body"><h5>post1</h5></div>
        </div>
        </a>
        <a href="#">
                <div class="card" >
                    <div class="card-header">
                        <img  src="assets/pic/whats.png "class="rounded">
                    </div>
                    <div class="card-body"><h5>post1</h5></div>
                </div>
                </a>
                <a href="#">
                        <div class="card" >
                            <div class="card-header">
                                <img  src="assets/pic/whats.png "class="rounded">
                            </div>
                            <div class="card-body"><h5>post1</h5></div>
                        </div>
                        </a>

</div>